.jumbotron {
    background-color: rgb(77, 216, 77);
color: whitesmoke;
text-align: center;
padding: 0%;
margin: 0%;
}
.column1 {
    float: left;
    width: 33%;
    border: grey;
}
.grid-container {
padding: 0%;
margin: 0%;
  }

  .grid-item {
      text-align: left;
     font-size: 15%;
  }
  .list-group {
     padding-top: 5px;
     margin: 0%;
     padding-right: 0%;
  }
  .list-group-item {
      width: 75%;
  }

  p {
      padding: 0%;
      margin: 0%;
  }
.grid-item.one {
    height: ;
    padding: 0%;
}
.grid-item.zero {
    text-align: left;

    float: left;
    border: groove;

    
}
input {
    width: 74.5%;
    padding: 5px:

}
.grid-item.two {
    height: 100%;
    padding: 0px;
    margin-left: 5px;

    width: 133%;
  }
  .grid-item.three {
      float: left;
    }

    .boxone {
        border: groove;
        height: 49%;
        margin: 5px;
        border-color: lavender;
        font-size: 30pt;
        color: gray;
        width: 99%;
    }
    .boxtwo {
        border: groove;
        height: 49%;
        margin: 5px;
        border-color: lavender;
        width: 99%;
        font-size: 30pt;
        color: gray;
    }
    .miniboxcontainer {
  height: 75%;
    }
    .minibox {
        height: 66%;
        width: 20%;
        float: left;
        margin-top: 25pt;
    }